.header {
  padding: 20px;
  display: flex;
  border: 5px #00ffff solid;
  box-shadow: 10px 5px 5px #1edada;
}

.header__title {
  font-size: 30px;
  align-self: center;
}

.header__buttons {
  margin-left: auto;
}

.header__name {
  margin-right: 20px;
  padding: 8px;
  border: 3px solid yellow;
  box-shadow: 10px 5px 5px #e5e505;
}

.header__button {
  padding: 5px 15px;
  display: inline-block;
  text-align: center;
  align-self: center;
  min-width: 100px;
  border: 3px solid #00ffff;
  box-shadow: 10px 5px 5px #1edada;
  border-radius: 20%;
  transition: background-color 0.3s ease 0s;
}

.header__button:hover {
  background-color: #d3d3d3;
}

.header__logged {
  display: flex;
}
