.header {
  padding: 20px;
  display: flex;
  border: 5px #00ffff solid;
  border-radius: 20%;
}

.header__title {
  font-size: 30px;
}

.header__buttons {
  margin-left: auto;
}

.header__name {
  padding: 8px;
  background-color: #00ffff;
  margin-right: 20px;
}

.header__button {
  display: inline-block;
  padding: 5px 15px;
  border: 3px solid #00ffff;
  border-radius: 20%;
  transition: background-color 0.3s ease 0s;
}

.header__button:hover {
  background-color: #d3d3d3;
}

.header__logged {
  display: flex;
}
