.header {
  margin: -10px;
  padding: 30px;
  display: flex;
  background-color: rgb(20, 19, 19);
  color: #dedede;
}

.header__title {
  font-size: 30px;
  align-self: center;
}

.header__buttons {
  margin-left: auto;
}

.header__name {
  margin-right: 30px;
  align-self: center;
}

.header__logged {
  display: flex;
}
