.event {
  padding: 7px;
  position: relative;
  border: 3px solid #000000;
}

.event__button {
  padding: 5px;
  position: absolute;
  min-width: auto;
  top: 5px;
  right: 5px;
}

.event__name {
  min-width: 90%;
  font-size: 18px;
  line-height: 120%;
  font-weight: bold;
  flex: 1;
  overflow: hidden;
}

.event__name_changeable {
  cursor: pointer;
}

.event__name:focus {
  background: #ffe;
}

.event__date {
  margin-top: 15px;
}

.event__date:not(:first-child) {
  margin-top: 5px;
}

.date {
  display: flex;
  align-items: center;
}

.date__desc {
  margin-right: 10px;
  min-width: 50px;
  text-transform: capitalize;
}

.date__item_changeable {
  cursor: pointer;
}

.date__calendar {
  display: flex !important;
}

.event__creator {
  margin-top: 15px;
  display: flex;
  font-weight: bold;
}

.event__questions {
  margin-top: 5px;
  display: flex;
}

.event__qacounter:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 568px) {
  .event {
    padding: 27px;
  }

  .event__button {
    padding: 5px 10px;
    top: 25px;
    right: 10px;
  }

  .event__name {
    font-size: 25px;
  }

  .event__date {
    margin-top: 30px;
  }

  .event__date:not(:first-child) {
    margin-top: 10px;
  }

  .event__creator {
    margin-top: 40px;
  }

  .event__questions {
    margin-top: 10px;
  }
}
